<owl-carousel [options]="slideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item">
    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1" [ngStyle]="{'background-image': 'url(' + 'assets/img/background6.webp' + ')'}">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
              <h1 class="header-title">About <span class="text-primary header-title-span">Tazart</span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</owl-carousel>
<br>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="heading-39291">Un peu de plus à propos Tazart</h2>
        <p>Tazart est une entreprise sociale de séchage et de conditionnement de fruits, spécialisée dans les dattes et les figues séchées,
          Des figues et des dattes qui sont produites dans les meilleures conditions en Tunisie pour garantir à nos clients un gout et une qualité supérieurs.</p>
        <p>
          Tazart revisite nos produits locaux pour offrir à ses consommateurs une expérience culinaire à la fois authentique et exceptionnelle.
        </p>
      </div>

      <div class="col-md-6 ml-auto">
        <img src="/assets/img/about/about0.jpg" class="about-image1" alt="">
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="background: #e6ac61e7;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/img/about/about2.png" class="about-image" alt="">
      </div>

      <div class="col-md-5 ml-auto">
        <h2 class="heading-39291" style="color:#000;">BIEN PLUS QU’UN SIMPLE FRUIT</h2>
        <p style="color:black">La figue fait partie intégrante de la culture berbère et est appelée dans tout l’ensemble berbérophone Tazart, d’où vient le nom de notre entreprise.</p>
        <p style="color:black">C’est au cœur de la production traditionnelle et authentique Tunisienne que la marque TAZART a été créée offrant au consommateur une expérience culinaire exceptionnelle à base de dattes et de figues séchées. TAZART est construite autour de 3 axes : La responsabilité sociale, la valorisation des produits locaux et la valeur alimentaire. Nous accompagnons en effet, un réseau d’agriculteurs du sud tunisien depuis la plantation et l’entretien de figuier et du dattier jusqu’à la cueillette.</p>
        <p style="color:black">Pour les figues, la récolte passe au séchage via des techniques modernes et adaptées aux normes d’hygiène en vigueur pour passer par la suite à l’étape du conditionnement à l’instar de nos dattes naturelles ‘’Deglet Nour’’, en vue d’être commercialisées sur plusieurs formes dans un réseau de plus de 70 distributeurs.</p>
        
        <!--<p><a href="#" class="more-39291">More About Us</a></p>-->
      </div>

    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="heading-39291">NOS VALEURS</h2>
        <p class="mb-5">Comme la richesse est avant tout humaine, Tazart rassemble un groupe de femmes et des hommes construisant chaque jour son succès, travaillant en synergie tout en étant attachés aux valeurs qui concrétisent leur réussite : respect de l’autre, partage, dépassement du soi, engagement et richesse du collectif. En un seul mot ‘’l’humain’’ est placé au cœur du fonctionnement de Tazart, commençant par les producteurs, passant par les collaborateurs jusqu’ à arriver aux clients.</p>
      </div>
      <div class="col-md-6 ml-auto">
        <img src="/assets/img/about/about4.png" class="about-image" alt="">
      </div>
    </div>
  </div>
</div>