<div class="social-links social-links-topbar">
    <a href="./contact.html" class="mail"><i class="fa fa-envelope"></i></a>
    <a href="https://www.facebook.com/tazart.tn/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/tazart.lesfruitsdudesert/?hl=en" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
</div>

<div class="language-topbar">
    <p class="language-text">
        <a (click)="useLanguage('fr')">FR</a>|<a (click)="useLanguage('en')">EN</a>
    </p>
</div>