<owl-carousel [options]="slideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item">
    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1" [ngStyle]="{'background-image': 'url(' + 'assets/img/background6.webp' + ')'}">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
              <h1 class="header-title">{{ "resellers.title" | translate }} <span class="text-primary header-title-span">{{ "resellers.span" | translate }}</span></h1>
              <p class="background1-text">{{ 'resellers.subtitle' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</owl-carousel>
<br>

<footer class="site-footer">
    <div class="container">
      <div class="row map">
        <div class="col-md-10 text-center">
          <iframe src="https://www.google.com/maps/d/embed?mid=1IglJ9oNqIcZ_x8gJ1Zo9zY0OpcqjQyyf" width="100%" height="450" id="map-index"></iframe>
        </div>
        <div class="col-md-2 text-center">
          <a href="http://index.founa.com/"><img src="assets/img/partners/founashop.webp" id="partners"></a>
          <a href="https://littlejenaina.tn/#1"><img src="assets/img/partners/jenaina.webp" id="partners"></a>
          <a href="https://www.viveznature.com/"><img src="assets/img/partners/viveznature.webp" id="partners"></a>
        </div>
      </div>
    </div>
    
  </footer>