<footer class="site-footer">
  <div class="container">
    <hr>
    <div class="social-links-footer row">
      <div class="col-md-3 social-link text-center">
        <a href="https://www.facebook.com/tazart.tn/" class="facebook"><i class="fa fa-facebook"></i></a>
        /tazart.tn
      </div>
      <div class="col-md-3 social-link text-center">
        <a href="https://www.instagram.com/tazart.lesfruitsdudesert/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
        tazart.lesfruitsdudesert
      </div>
      <div class="col-md-3 social-link text-center">
        <a href="#" class="email"><i class="fa fa-envelope"></i></a>
        contact@tazart.tn
      </div>
      <div class="col-md-3 social-link text-center">
        <a href="#" class="phone"><i class="fa fa-phone"></i></a>
        +216 27 968 339
      </div> 
    </div>
  </div>
</footer>